<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the"%> <%= link_to t(".tuto"),"https://www.railstutorial.org/"%>
  <%= t ".is"%> <%= link_to t(".book"),"https://www.railstutorial.org/book"%>
  <%= t ".and"%>
  <%= link_to t(".screencasts"),"http://screencasts.railstutorial.org/"%>
  <%= t ".toteach"%> <%= link_to t(".ruby"),"http://rubyonrails.org/"%>
  <%= t ".end"%>
</p>
