<footer class="footer">
  <small>
    <%= t ".the"%> <%= link_to t(".tuto"),"https://www.railstutorial.org/"%>
    <%=t ".by"%> <%= link_to "Micheal Hart"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
